<% layout('boilerplate')  %> 

<h1>
  This is the CRUD task performed by Arihant 
</h1>
<p>
  <ol>
  <li>Go to Add data section in the navbar to add data to database</li>
  <li>Go to view data to view Data and Send Emails</li>
  </ol>

</p>